<% layout('layouts/boilerplate.ejs') %>

    <form action="/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label class='form-label' for="username">Username</label>
            <input class='form-control' type="text" id="username" name="username"
                placeholder="Enter Username" required />
            <div class="valid-feedback">
                Looks Great
            </div>
        </div>
        <div class="mb-3">
            <label class='form-label' for="password">Password</label>
            <input class='form-control' type="password" id="password" name="password"
                placeholder="Enter password" required />
            <div class="valid-feedback">
                Looks Great
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Login</button>
        </div>
    </form>

    <% for(let user of users){ %>
        <p><%= user  %> </p>
        <% } %>  